
<!DOCTYPE html>
<html>


    <% include ./partials/head %>

    <body>
        <script>
                var nodesFromDB = [];
                var dataRevueFromDB = [];
                var linksFromDB = [];
            </script>
        
                <% data_node.forEach(function(o) { %>
                    <script>nodesFromDB.push({ID: '<%= o.ID %>', parentNameID: '<%= o.parentNameID %>', nameID: '<%= o.nameID %>',name: '<%= o.name %>'});</script>
                <% }); %>
                <% data_revue.forEach(function(o) { %>
                    <script>dataRevueFromDB.push({ID: '<%= o.ID %>', revueID: '<%= o.revueID %>', name: '<%= o.name %>',
                                                    link: '<%= o.link %>', year_start: '<%= o.year_start %>', year_end: '<%= o.year_end %>',
                                                    ongoing: '<%= o.ongoing %>', frequency: '<%= o.frequency %>', publisher: '<%= o.publisher %>',
                                                    city: '<%= o.city %>', country: '<%= o.country %>', lat: '<%= o.lat %>',
                                                    long: '<%= o.long %>', access: '<%= o.access %>', medium: '<%= o.medium %>',
                                                    about: '<%= o.about %>', peer_review: '<%= o.peer_review %>', note: '<%= o.note %>'
                                                },);</script>
                <% }); %>
                <% data_links.forEach(function(o) { %>
                    <script>linksFromDB.push({ID: '<%= o.ID %>', revueID: '<%= o.revueID %>', linkID: '<%= o.linkID %>'});</script>
                <% }); %>
        
            <script>
                console.log("nodesFromDB",nodesFromDB);
                console.log("dataRevueFromDB",dataRevueFromDB);
                console.log("linksFromDB",linksFromDB);
            </script>

        <div class="intro">
            <h1>
                CARTOGRAPHIE ART/DESIGN-SCIENCES
                <sub>Beta version</sub>

            </h1>
        </div>

        <nav id="nav-menu" style="position:absolute; top:20px; left:0px; z-index:3">
            <button id="vizView" type="button" class="active">Fields</button>
            <button id="geoView" type="button">Geographic</button>
            <button id="timelineView" type="button">Chronologic</button>
            •
            <button class="add-btn" id="add-journal">Add a journal</button>
            <button id="btnAbout">About</button>
        </nav>

        <script>var is_cms = false;</script>

        <div id='main-div' style="position:absolute; top:0px; left:0px; z-index:2">  
            <svg id='svg' width='900' height='500'>
            </svg>
            <% include ./partials/objects %>
            <% include ./partials/menu %>
            <% include ./partials/journal %> 
        </div>

        <div id='canvas-div' style="position:absolute; top:0px; left:0px; z-index:1">  
                <canvas id='canvas' width='900' height='500'></canvas>
        </div>
        <% include ./partials/form %>
        <% include ./partials/footer %>
        <% include ./partials/about %>

        <div class="forMobile">
            Site web site is not yet viewable on mobile screen
            <br>
            <a href="#" onclick="document.getElementsByClassName('forMobile')[0].style.display='none'">view it anyway</a>
        </div>

        <div class="beta"> Beta version </div>
    </body>
</html>